/* CARD GENERAL */
.card {
    background: #fff;
    padding: 16px;
    margin: 40px 20px;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
}

.card--no-padding {
    padding: 0;
}

/* CARD COLUMNS */
.card__column {
    margin: 10px 0 10px 0;
}

/* CARD ELEMENTS */
/* LABEL */
.card__label {
    text-align: left;
    font-size: 12pt;
    padding-left: 6px;
    padding-bottom: 3px;
    color: #757575;
}

/* INPUT */
.card__input{
    text-align: left;
    font-size: 14pt;
    background-color: #fafafa;
    border: none;
    padding: 5px;
    width: 400px;
    transition: .2s ease-in-out;
    background-position: right -15px center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg); /* TODO: exchange with own local checkmark, add error icon? */
}

/* PLACEHOLDER TEXT OF INPUT */
.card__input::placeholder{
    color: #ddd;
    font-style: italic;
    transition: .2s ease-in-out;
}

/* PLACEHOLDER TEXT OF FOCUSED INPUT */
.card__input:focus::placeholder{
    opacity: 0;
}

/* INPUT HOVERED */
.card__input:hover{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.09);
}

/* INPUT FOCUSED */
.card__input:focus{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.09),inset 0 0 0 1px #0000001a;
}

/* INPUT WITH VALID TEXT INPUT */
.card__input:valid{
    background-position: right 10px center;
}

/* INPUT UNFOCUSED WITH INVALID TEXT, INPUT UNFOCUSED WHEN PASSWORDS DON'T MATCH */
.card__input:invalid:not(:focus):not(:placeholder-shown), .card__input.js-card__input--not_matching:valid:not(:focus){
    background-color: #ffc0cb;
    background-position: right -15px center;
}

/* INFO BELOW INPUT */
.card__input__warning{
    padding: 0 8px;
    max-height: 0;
    overflow: hidden;
    transition: .2s ease-in-out;
    background-color: #0000001a;
    text-wrap: normal;
}

/* INFO BELOW FOCUSED INPUT WITH INVALID TEXT */
.card__input:invalid:focus:not(:placeholder-shown) + .card__input__warning{
    max-height: 200px;
    padding: 8px 8px;
    border-radius: 0 0 7px 7px;
}

/* 2ND INFO BELOW INPUT WHEN PASSWORDS DON'T MATCH */
.js-card__input--not_matching + .card__input__warning + .card__input__warning{
    max-height: 200px;
    padding: 8px 8px;
    border-radius: 0 0 7px 7px;
}

/* 1ST INFO BELOW FOCUSED INPUT WHEN 2ND INFO IS SHOWN */
.js-card__input--not_matching:invalid:focus:not(:placeholder-shown) + .card__input__warning{
    border-radius: 0 0 0 0;
}

/* SUBMIT BUTTON */
.card__button--submit{
    font-size: 14pt;
    min-width: 300px;
    transition: .1s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff00;
    margin-top: 8px;
    padding: 12px 24px;
    border: 2px solid #263238;
    letter-spacing: 1px;
}

/* SUBMIT BUTTON HOVERED */
.card__button--submit:hover{
    box-shadow: none;
    background-color: #8BC34A;
    border-color: #8BC34A;
    color: white;
}

/* SUBMIT BUTTON IN SMALL VARIANT */
.button--small {
    font-size: 12pt;
    min-width: 200px;
    padding: 2px 4px 2px;
    letter-spacing: initial;
}