#logo {
    height: 39px;
}

.madeWithLove { /* "made with love by rav3n" text in footer */
    padding: 10px;
    text-transform: uppercase;
    color: #e3e3e3;
}

.heart { /* ascii heart "made with love by rav3n" in footer*/
    color: #d4000d;
    transform: scale(1.8, 1.5) translateY(-1px);
    display: inline-block;
    font-size: 8pt;
    padding: 0 3px;
    animation-name: heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes heartBeat {
    0%,100% {
        transform: scale(1.8, 1.5) translateY(-1px);
    }

    50% {
        transform: scale(2.4, 2.0) translateY(-1px);
    }
}