.info { /* container for info cards */
    display: flex;
    flex-direction: column;
}

/* layout for cards, default color */

/* card div*/
.info__card {
    display: flex;
    flex-direction: column;
    background-color: #455A64;
    color: #fefefe;
}

/* card wrapper, to color every 2nd card a bit lighter*/
.info__card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: .3s;
}

/* colors every 2nd card wrapper a bit lighter*/
.info__card:nth-child(even) .info__card__wrapper {
    background-color: rgba(255, 255, 255, 0.06);
}

/* card main text */
.info__card__wrapper__text {
    margin: 20px auto 20px 15px;
}

/* card button */
.info__card__wrapper__button {
    padding: 20px 15px;
    text-align: center;
    min-width: fit-content;
    background-color: #0000000a;
    color: #eeeeee;
}

/* card button on hover*/
.info__card__wrapper__button:hover {
    background-color: #ffffff1a;
}

/* card currently transitioning out then being deleted */
.js-info__card--exiting{
    z-index: -1;
    transform-origin: bottom left;
    animation: fadeOutTop .5s ease-in normal;
}

/* every card after a currently exiting card */
.js-info__card--exiting ~ .info__card{
    transform: translateY(-59px); /* TODO: maybe fix this issue that when the removed card is taller than 59px this bugs the animation a bit */
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

/* every card wrapper after a currently exiting card, this and the following
 class animates the lighter background "to the next card" because cards are moved */
.js-info__card--exiting ~ .info__card > .info__card__wrapper{
    background-color: rgba(255, 255, 255, 0.06);
}
/* every 2nd card wrapper after a currently exiting card */
.js-info__card--exiting ~ .info__card:nth-child(even) > .info__card__wrapper{ /* card button */
    background-color: rgba(255, 255, 255, 0);
}

/* transition out a card to the top and hide it*/
@keyframes fadeOutTop {
    0% {
        transform: translateY(0%) /*rotate(0deg)*/;
        opacity: 100%;
    }
    35%,100% {
        transform: translateY(-100%) /*rotate(-8deg)*/;
        opacity: 0;
    }
}

/* transition out a card to the left*/
@keyframes fadeOutLeft {
    0% {
        transform: translateX(-0%);
    }
    30%,100% {
        transform: translateX(-100%);
    }
}

/* transition out a card to the right*/
@keyframes fadeOutRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* material color(google.com/design) variations for cards:
 * main div:     500
 */

.info__card--green {
    background-color: #8BC34A;
}

.info__card--yellow { /* amber used here */
    background-color: #FFC107;
}

.info__card--orange {
    background-color: #FF9800;
}

.info__card--red {
    background-color: #F44336;
}

.info__card--blue { /* light blue used here */
    background-color: #03A9F4;
}