* {
    box-sizing: border-box;                /* every element on the page is sized as a whole, with padding and margin */
    margin: 0;                             /*                       ... has no margin */
    font-family: 'Roboto', sans-serif;     /*                       ... has Roboto as font by default */
}

html, body{
    display: flex;                         /* align all divs as column by default */
    flex-direction: column;
    background-color: #263238;             /* backcolor for body, to color "overscroll" outside of the page */
    height: 100%;
}

.container {
    display: flex;                         /* align all divs as column by default */
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: #eee;
}

.card {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.row{
    display: flex;
    flex-direction: row;
}

.row.center {
    justify-content: center;
}

.row.space10{
    height: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}
.column.center {
    justify-content: center;
}

.column.spaceFull {
    flex: 1 0 auto;
}

.title {

}

.center {
    text-align: center;
}