* {
    box-sizing: border-box;                /* every element on the page is sized as a whole, with padding and margin */
    margin: 0;                             /*                       ... has no margin */
    font-family: 'Roboto', sans-serif;     /*                       ... has Roboto as font by default */
}

html, body{
    display: flex;                         /* align all divs as column by default */
    flex-direction: column;
    background-color: #eee;                /* backcolor for body, to color "overscroll" outside of the page */
    height: 100%;
}

textarea, input, button {
    outline: none;
}

img, audio {
    display: block;
}

textarea {
    resize: vertical;
    transition: height 0s, box-shadow .2s, color .2s, background-color .2s !important;
    height: 500px;
    font-size: 12pt !important; /*  TODO: add an own class for textarea for each form  */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.content, #header__spacer {
    background-color: #eee;
}

.content--set-row{
    display: flex;
    flex-direction: row;
}

.content--set-column {
    display: flex;
    flex-direction: column;
}

.content--center-align {
    justify-content: center;
    text-align: center;
}

.content--left-align {
    justify-content: left;
    text-align: left;
}

.content--right-align {
    justify-content: right;
    text-align: right;
}

.div--flex-full {
    flex: 1 0 auto;
}

.text--title {
    font-size: 18pt;
    margin-bottom: 8px;
}