
.song__cover {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

.song__controls {
    width: 100%;
    background-color: #f2f3f4;
}

.song__title-genre {
    padding: 8px 8px 0 8px;
    justify-content: space-between;
}

.song__title {
    margin: 0;
    font-weight: 600;
    color: #353535;
}

.song__genre {
    background-color: #0000000f;
    padding: 7px 10px 7px 10px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 900;
    color: #5f5f5f;
}

.song__artist-visits {
    padding: 4px 8px 0 8px;
    justify-content: space-between;
}

.song__arist__prefix {
    color: #505050;
}

.song__artist__name {
    color: #252525;
}

.song__visits {
    color: #505050;
}

.song__visits__number {

}

.song__visits__suffix {

}

.song__date-uploader {
    padding: 16px 8px 0 8px;
    color: #888888;
}

.song__uploader {
    color: #383838;
}

.song__songtext-button {
    background-color: #f2f3f4;
    padding: 16px 8px;
    margin: 8px 0 0 0;
    cursor: pointer;
    transition: background-color .15s, color .15s;
    text-transform: uppercase;
    font-weight: 600;
    color: #5f5f5f;
}

.song__songtext-button:hover {
    background-color: #e8e8e8;
    color: #363636;
}

.js-songtext--show + .song__songtext {
    max-height: 10000px;
    opacity: 1;
    transition: opacity .6s, max-height 1.5s ease-in;
    padding: 8px 16px 16px 16px;
}

.song__songtext {
    height: auto;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:opacity .6s, max-height .3s ease-out, padding .3s;
    font-style: italic;
    color: #424242;
    padding: 0 16px 0 16px;
    background-color: #f7f7f7;
}