* {
    box-sizing: border-box;                                 /* Every element on the page is sized as a whole, with padding and margin */
    margin: 0;                                              /*                       ... has no margin */
    font-family: 'Roboto', sans-serif;                      /*                       ... has Roboto as Font by default */
}

body{
    display: flex;                                          /* align all divs as column by default */
    flex-direction: column;
    background-color: #fff;
}

div {
    display: flex;
}

a {                                                         /* style for all default links */
    font-weight: bolder;
    color: #BDBDBD;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    transition-duration: .2s;
}
a:hover {
    color: #fff;
}

body > header, body > footer{                               /* style for header and footer div */
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 999;
    width: 100%;

    background: #263238;
    color: #f1f1f1;
}

body > header{                                              /* extra style for header that isn't wanted on footer */
    position: fixed;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    top: 0;

    transition-duration: .2s;
}

body > footer{                                              /* extra style for footer that isn't wanted on header */
    flex-wrap: wrap;
    justify-content: center;
    height: 70px
}

header > *, footer > *{                                     /* style for every element _within_ header and footer */
    margin: auto 0 auto 0;
}

/* DO NOT CHANGE BELOW, THIS IS FOR SHRINKING HEADER */

header + div, body > header{                                /* height for header and element after header */
    height: 70px;
}

.shrink{                                                    /* this class gets assigned to header when scrolled 20px+ */
    height: 40px;
}

/* DO NOT CHANGE ABOVE, THIS IS FOR SHRINKING HEADER */

.content {
    flex-direction: column;
}

/* LITTLE EXTRAS */

.seperator {
    padding: 0 0 1px 0;
    font-weight: bold;
}

.madeWithLove {                                             /* class for "made with love by rav3n" text */
    padding: 10px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.heart {                                                    /* class for ascii heart "made with love by rav3n" */
    color: #d4000d;
}